
<!-- Option 1: Button list with card on the side -->
<div fxLayout="row" fxLayoutGap="2em" class="p-3">
  <div fxLayout="column" fxFlex="30">
    <button *ngFor="let article of articles; let i = index" mat-flat-button style="text-align: left"
      (click)="selectArticle(article)">
      {{ i + 1 + '.' }} {{ (article.title.length > 61) ? (article.title | slice:0:61) + '...' : (article.title) }}
    </button>
  </div>
  <app-article *ngIf="article" [article]="article" fxFlex="70"></app-article>
</div>

<!-- Option 2: Table -->
<!-- <smc-simplemattable [data]="articles" [columns]="columns" [paginator]="true" [sorting]="true"
  class="mat-elevation-z2 m-2">
</smc-simplemattable> -->