<!-- Option 1: Button list with card on the side -->
<!-- <div fxLayout="row" fxLayoutGap="2em" class="p-3">
  <div fxLayout="column" fxFlex="30">
    <button *ngFor="let article of currentArticles; let i = index" mat-stroked-button [color]="setColor(article)"
      style="text-align: left" (click)="selectArticle(article)" matTooltip="{{ article.id }}"
      matTooltipPosition="after">
      {{ i + 1 + '.' }} {{ (article.title.length > 61) ? (article.title | slice:0:61) + '...' : (article.title) }}
    </button>
    <mat-paginator [length]="articles?.length" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"
      (page)="onPageChange($event)" class="mat-elevation-z2 m-2 w-100">
    </mat-paginator>
  </div>
  <app-article *ngIf="article" [article]="article" fxFlex="70"></app-article>
</div> -->

<!-- Option 2: Table -->
<!-- <smc-simplemattable [data]="articles" [columns]="columns" [paginator]="true" [sorting]="true"
  class="mat-elevation-z2 m-2">
</smc-simplemattable> -->

<!-- Option 3: Expansion Panel list -->
<!-- <div fxLayout="row" class="p-5">
  <mat-accordion>
    <mat-expansion-panel *ngFor="let article of articles; let i = index">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ article.id }}
        </mat-panel-title>
        <mat-panel-description style="text-align: left">
          {{ i + 1 + '.' }} {{ (article.title.length > 100) ? (article.title | slice:0:100) + '...' : (article.title) }}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-article *ngIf="article" [article]="article"></app-article>
    </mat-expansion-panel>
  </mat-accordion>
</div> -->

<!-- Option 4: Table with action button that shows the article card on the side -->
<div fxLayout="column" fxLayoutGap="1em" class="p-3">
  <smc-simplemattable [data]="articles" [columns]="columns" [filter]="false" [paginator]="true" [sorting]="true"
    [paginatorPageSize]="5" [paginatorPageSizeOptions]="[5, 10, 25, 100]" [rowClickable]="true"
    (rowClick)="selectArticle($event)">
  </smc-simplemattable>
  <app-article *ngIf="article" [article]="article"></app-article>
</div>