<mat-toolbar color="primary">
  <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="1em">
    <h1 routerLink="/">
      <button mat-button fxHide.gt-sm>Indizador DeCS</button>
      <button mat-button fxHide fxShow.gt-sm>Indizador de Descriptores de Ciencias de la Salud</button>
    </h1>
    <button *ngIf="!auth.isLoggedIn()" mat-button (click)="auth.openLoginDialog()">Iniciar sesión</button>
    <div *ngIf="auth.isLoggedIn()">
      <small>Hola, {{ auth.getCurrentUser().fullname }}</small>
      <button mat-icon-button color="warn" matTooltip="Cerrar sesión" aria-label="Logout icon" (click)="auth.logout()">
        <mat-icon>power_settings_new</mat-icon>
      </button>
      <!-- <a mat-flat-button style="color: #669966"
        href="http://decses.bvsalud.org/cgi-bin/wxis1660.exe/decsserver/?IsisScript=../cgi-bin/decsserver/decsserver.xis&interface_language=e&previous_page=homepage&previous_task=NULL&task=start">
        Buscador DeCS <mat-icon>open_in_new</mat-icon>
      </a> -->
    </div>
  </mat-toolbar-row>
</mat-toolbar>