<mat-toolbar [color]="auth.getCurrentUser()?.role === 'superannotator' ? 'warn' : 'primary'">
  <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="1em">
    <h1 routerLink="/">
      <button mat-button>PlanTL Indizador DeCS</button>
    </h1>
    <button *ngIf="!auth.isLoggedIn()" mat-button (click)="auth.openLoginDialog()">Iniciar sesión</button>
    <div *ngIf="auth.isLoggedIn()">
      <small style="font-weight: lighter;">Hola, {{ auth.getCurrentUser().fullname }}</small>
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <a mat-menu-item style="text-decoration: none"
          href="http://decses.bvsalud.org/cgi-bin/wxis1660.exe/decsserver/?IsisScript=../cgi-bin/decsserver/decsserver.xis&interface_language=e&previous_page=homepage&previous_task=NULL&task=start">
          <mat-icon style="color: #669966">open_in_new</mat-icon>
          <span>Abrir el buscador DeCS</span>
        </a>
        <button mat-menu-item (click)="auth.logout()">
          <mat-icon color="warn">power_settings_new</mat-icon>
          <span>Cerrar sesión</span>
        </button>
      </mat-menu>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
