<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>DeCS Indexer</span>
    <span style="flex: 1 1 auto;"></span>
    <!-- <mat-icon class="example-icon" aria-hidden="false" aria-label="User logged in">verified_user</mat-icon> -->
  </mat-toolbar-row>
</mat-toolbar>

<div fxLayout="row" fxLayoutGap="2em grid" style="padding: 2em">

  <div fxFlex="70">
    <h3>{{ article?.title }}</h3>
    <p>{{ article?.abstractText }}</p>
  </div>

  <div fxFlex="30">
    <h3>DeCS IDs</h3>

    <form fxLayout="column">
      <mat-form-field floatLabel="never">
        <mat-label>Select annotator</mat-label>
        <mat-select name="annotator" [(ngModel)]="annotator">
          <mat-option *ngFor="let annotator of annotators" [value]="annotator">
            {{ annotator.name }} ({{ annotator.id }})
          </mat-option>
        </mat-select>
      </mat-form-field>
      <!-- <mat-form-field appearance="fill">
        <textarea matInput name="descriptores" placeholder="DeCS codes..."
          [(ngModel)]="article.descriptores"></textarea>
        <mat-hint>Número del Registro</mat-hint>
      </mat-form-field> -->

      <!-- OK -->
      <mat-form-field *ngFor="let descriptor of descriptores">
        <input matInput placeholder="Filter a descriptor..." aria-label="DeCS Code" [formControl]="myControl"
          [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="onSelectionChange($event)">
          <mat-option *ngFor="let descriptor of filteredDescriptores | async" [value]="descriptor">
            ({{ descriptor.id }}) {{ descriptor.descriptionEs }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <!-- <mat-form-field floatLabel="never">
        <input matInput placeholder="Pick a DeCS Code" aria-label="DeCS Code" [formControl]="myControl"
          [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="onSelectionChange($event)">
          <mat-option *ngFor="let descriptor of filteredDescriptores | async" [value]="descriptor.id">
            {{ descriptor.id }} - {{ descriptor.description.es }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field> -->

      <!-- <input type="text" [mention]="items"> -->
      <!-- <input type="text" [mention]="descriptores" [mentionConfig]="{triggerChar:'#',maxItems:10,labelKey:'description[`es`]'}"> -->

      <!-- <mwl-text-input-autocomplete-container>
        <textarea
          name="choice"
          placeholder="Type @ to search..."
          class="form-control"
          rows="5"
          [(ngModel)]="formControlValue"
          mwlTextInputAutocomplete
          [findChoices]="findChoices"
          [getChoiceLabel]="getChoiceLabel">
        </textarea>
      </mwl-text-input-autocomplete-container> -->

      <!-- <div class="ng-autocomplete">
        <ng-autocomplete [data]="data" [searchKeyword]="keyword" (selected)='selectEvent($event)'
          (inputChanged)='onChangeSearch($event)' (inputFocused)='onFocused($event)' [itemTemplate]="itemTemplate"
          [notFoundTemplate]="notFoundTemplate">
        </ng-autocomplete>
        <ng-template #itemTemplate let-item>
          <a [innerHTML]="item.name"></a>
        </ng-template>
        <ng-template #notFoundTemplate let-notFound>
          <div [innerHTML]="notFound"></div>
        </ng-template>
      </div> -->

      <div class="ng-autocomplete">
        <ng-autocomplete [data]="descriptores" [searchKeyword]="keyword" (selected)='selectEvent($event)'
          (inputChanged)='onChangeSearch($event)' (inputFocused)='onFocused($event)' [itemTemplate]="itemTemplate"
          [notFoundTemplate]="notFoundTemplate" placeholder="Search DeCS...">
        </ng-autocomplete>
        <ng-template #itemTemplate let-item>
          <a [innerHTML]="item.descriptionEs"></a>
        </ng-template>
        <ng-template #notFoundTemplate let-notFound>
          <div [innerHTML]="notFound"></div>
        </ng-template>
      </div>


    </form>

    <button mat-flat-button color="accent" (click)="toArray(); saveDecs()">SAVE</button>

    <a mat-stroked-button color="primary" target="_blank"
      href="http://decs.bvs.br/cgi-bin/wxis1660.exe/decsserver/?IsisScript=../cgi-bin/decsserver/decsserver.xis&interface_language=e&previous_page=homepage&previous_task=NULL&task=start">
      Go to DeCS website
    </a>
  </div>
</div>