attrs==19.3.0
bcrypt==3.1.7
cffi==1.14.0
click==7.1.2
Flask==1.1.2
Flask-Bcrypt==0.7.1
Flask-Cors==3.0.8
flask-paginate==0.7.0
Flask-PyMongo==2.3.0
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
more-itertools==8.2.0
NewlineJSON==1.0
packaging==20.3
pluggy==0.13.1
py==1.8.1
pycparser==2.20
pymongo==3.10.1
pyparsing==2.4.7
pytest==5.4.1
six==1.14.0
uWSGI==2.0.18
wcwidth==0.1.9
Werkzeug==1.0.1
