.bg-primary {
  background-color: $primary;
}

.font-white {
  color: white;
}

.text-centered {
  text-align: center;
}

// .bg-primary {
//   background-color: $primary;
//   color: white;
//   text-align: center;
//   padding-bottom: 2em;
// }
