<mat-paginator #paginator [length]="totalRows$ | async" [pageIndex]="0" [pageSize]="10"
  [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

<mat-accordion displayMode="flat" multi class="mat-table">
  <section matSort class="mat-elevation-z2 mat-header-row">
    <span class="mat-header-cell" mat-sort-header="id">Article ID</span>
    <span class="mat-header-cell" mat-sort-header="title">Title</span>
    <!-- <span class="mat-header-cell" mat-sort-header="vesselStatus">Status</span>
    <span class="mat-header-cell" mat-sort-header="ircs">IRCS</span> -->
  </section>

  <mat-expansion-panel *ngFor="let descriptor of displayedRows$ | async">
    <mat-expansion-panel-header class="mat-row">
      <span class="mat-cell">{{ descriptor.id }}</span>
      <span class="mat-cell">{{ descriptor.title }}</span>
      <!-- <span class="mat-cell">{{ item.vesselStatus }}</span>
      <span class="mat-cell">{{ item.ircs }}</span> -->
    </mat-expansion-panel-header>
    <app-descriptors [article]="article"></app-descriptors>
  </mat-expansion-panel>

</mat-accordion>