// https://medium.com/@aleixsuau/how-to-use-angular-material-2-sass-variables-in-your-components-76ce0203f126

// Import material theming functions
@import '~@angular/material/theming';

// Copy the palettes from your selected theme (usually theme.scss).
$app-primary: mat-palette($mat-deep-purple);
$app-accent: mat-palette($mat-amber);
$app-warn: mat-palette($mat-red);

// $app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

// Create your Sass color vars (will be available in all the project)
$primary: mat-color($app-primary);
$accent: mat-color($app-accent);
$warn: mat-color($app-warn);

// Additional colors
$app-green: mat-palette($mat-green);
$custom-green: mat-color($app-green);
