<div style="padding: 3em;">
  <h1 style="margin-bottom: 2em;">Panel de Administrador</h1>
  <div fxLayout fxLayoutGap="1em">
    <a href="{{ api.url }}/results" mat-raised-button>Resultados anotación</a>
    <a href="{{ api.url }}/extract_development_set/all" mat-raised-button color="primary">Development set (all)</a>
    <a href="{{ api.url }}/extract_development_set/union" mat-raised-button color="accent">Development set (union)</a>
    <a href="{{ api.url }}/extract_development_set/intersection" mat-raised-button color="accent">Development set (intersection)</a>
  </div>
  <mat-tab-group>
    <mat-tab *ngFor="let panel of panels" label="{{ panel.title }}">
      <section fxLayout="column" fxLayoutAlign="center start" style="margin-top: 3em;">
        <p>
          Elige un fichero que contenga una <b>lista de {{ panel.keywords }}</b> en formato
          <a href="https://www.w3schools.com/js/js_json_arrays.asp">JSON Array</a>.
        </p>
        <p>Ejemplo:</p>
        <pre style="padding: 2em; background-color: lightgray">[{{ panel.exampleJson | json }}, ...]</pre>
        <form fxLayout="column" fxLayoutAlign="center start">
          <mat-form-field>
            <ngx-mat-file-input #removableInput placeholder="Seleccionar fichero JSON" [accept]="'.json'"
              (change)="onFileSelected($event)">
            </ngx-mat-file-input>
            <button mat-icon-button matSuffix *ngIf="!removableInput.empty" (click)="removableInput.clear($event)">
              <mat-icon>clear</mat-icon>
            </button>
            <mat-icon matSuffix>attach_file</mat-icon>
          </mat-form-field>
          <button mat-raised-button color="primary" [disabled]="removableInput.empty" (click)="onClickEvent(panel)">
            {{ panel.title }}
          </button>
        </form>
      </section>
    </mat-tab>
  </mat-tab-group>
</div>