<div fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="1rem" style="padding: 3em;">
  <h1 style="margin-bottom: 2em;">Panel de Administrador</h1>
  <mat-form-field appearance="fill">
    <mat-label>Proyecto</mat-label>
    <mat-select #project [value]="projects[0]">
      <mat-option *ngFor="let project of projects" [value]="project">
        {{ project.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Acción</mat-label>
    <mat-select #action>
      <mat-option *ngFor="let action of actions" [value]="action">
        {{ action.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div *ngIf="action.value">
    <div *ngIf="action.value?.jsonSnippet">
      <p>Ejemplo de estructura del fichero JSON:</p>
      <pre class="example-snippet">[{{ action.value.jsonSnippet | json }}, ...]</pre>
    </div>
    <form fxLayout="column" fxLayoutAlign="center start">
      <mat-form-field appearance="fill">
        <mat-label>Fichero JSON</mat-label>
        <ngx-mat-file-input #removableInput [accept]="'.json'" (change)="onFileSelected($event)">
        </ngx-mat-file-input>
        <button mat-icon-button matSuffix *ngIf="!removableInput.empty" (click)="removableInput.clear($event)">
          <mat-icon>clear</mat-icon>
        </button>
        <mat-icon matSuffix>attach_file</mat-icon>
      </mat-form-field>
      <button mat-raised-button color="primary" [disabled]="removableInput.empty" (click)="action.value.method()">
        {{ action.value?.name }}
      </button>
    </form>
  </div>
</div>
