<div fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="1em" style="padding: 3em;">
  <h1 style="margin-bottom: 2em;">Panel de Administrador</h1>
  <!-- <a href="{{ api.url }}/results" mat-stroked-button>Resultados de anotación (ver en Firefox)</a> -->
  <mat-form-field appearance="fill">
    <mat-label>Proyecto</mat-label>
    <mat-select #project>
      <mat-option *ngFor="let project of projects" [value]="project">
        {{ project.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Acción</mat-label>
    <mat-select #action>
      <mat-option *ngFor="let action of actions" [value]="action">
        {{ action.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div *ngIf="action.value">
    <div *ngIf="action.value?.jsonSnippet">
      <p>Estructura del fichero:</p>
      <pre style="padding: 1.5em; background-color: black; color: lightgrey;">[{{ action.value.jsonSnippet | json }}, ...]</pre>
    </div>
    <form fxLayout="column" fxLayoutAlign="center start">
      <mat-form-field appearance="fill">
        <mat-label>Fichero JSON</mat-label>
        <ngx-mat-file-input #removableInput [accept]="'.json'" (change)="onFileSelected($event)">
        </ngx-mat-file-input>
        <button mat-icon-button matSuffix *ngIf="!removableInput.empty" (click)="removableInput.clear($event)">
          <mat-icon>clear</mat-icon>
        </button>
        <mat-icon matSuffix>attach_file</mat-icon>
      </mat-form-field>
      <button mat-raised-button color="primary" [disabled]="removableInput.empty" (click)="action.value.method()">
        {{ action.value?.name }}
      </button>
    </form>
  </div>

  <!-- <mat-tab-group>
    <mat-tab *ngFor="let panel of panels" label="{{ panel.title }}">
      <section fxLayout="column" fxLayoutAlign="center start" style="margin-top: 3em;">
        <p>
          Elige un fichero que contenga una <b>lista de {{ panel.keywords }}</b> en formato
          <a href="https://www.w3schools.com/js/js_json_arrays.asp">JSON Array</a>.
        </p>
        <p>Fichero de ejemplo:</p>
        <pre style="padding: 2em; background-color: lightgray">[{{ panel.jsonSnippet | json }}, ...]</pre>
        <form fxLayout="column" fxLayoutAlign="center start">
          <mat-form-field>
            <ngx-mat-file-input #removableInput placeholder="Seleccionar fichero JSON" [accept]="'.json'"
              (change)="onFileSelected($event)">
            </ngx-mat-file-input>
            <button mat-icon-button matSuffix *ngIf="!removableInput.empty" (click)="removableInput.clear($event)">
              <mat-icon>clear</mat-icon>
            </button>
            <mat-icon matSuffix>attach_file</mat-icon>
          </mat-form-field>
          <button mat-raised-button color="accent" [disabled]="removableInput.empty" (click)="onClickEvent(panel)">
            {{ panel.title }}
          </button>
        </form>
      </section>
    </mat-tab>
  </mat-tab-group> -->
</div>
