@import "src/app/styling/_variables.scss";

h1 {
  font-size: 4em;
  font-weight: lighter;
  padding-top: 1.5em;
  padding-bottom: 0.3em;
}

.bg-blue {
  background-color: $primary;
  color: white;
  text-align: center;
  padding-bottom: 2em;
}

.buttons {
  padding-top: 3.5em;
}
