<section fxLayout="column" fxLayoutAlign="center">
  <div class="bg-blue">
    <h1 style="font-weight: bold; line-height: normal;">Indizador del PlanTL</h1>
    <p style="font-size: large; font-weight: lighter;">
      Asigna etiquetas controladas a diferentes tipos de documentos
    </p>
    <div *ngIf="!auth.isLoggedIn()" class="buttons">
      <button mat-raised-button (click)=auth.openLoginDialog()>
        Iniciar sesión
      </button>
    </div>
    <div *ngIf="auth.isLoggedIn()" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="1em" class="buttons">
      <button *ngIf="['admin', 'tester', 'annotator'].includes(auth.getCurrentUser().role)" mat-raised-button
        routerLink="/docs">
        Ver mis documentos asignados
      </button>
      <button *ngIf="['admin'].includes(auth.getCurrentUser().role)" mat-raised-button color="warn" routerLink="/admin">
        Ir al panel de administración
      </button>
    </div>
  </div>
  <div style="padding: 5em 1em 5em 1em; width: 36em; align-self: center;">
    <p>
      Indizar consiste en asignar etiquetas controladas (términos de una lista con códigos asociados) a un documento de
      texto teniendo en cuenta el contenido de éste.
    </p>
    <p>
      Los <a [href]="links.decsEspanolHome">Descriptores en Ciencias de la Salud (DeCS)</a>
      son un tipo de dichas etiquetas controladas. Consisten en términos con códigos y sinónimos asociados para
      categorizar documentos científicos. Los DeCS son el análogo en español de los MeSH terms (todo término DeCS
      corresponde a un MeSH pero hay MeSH terms que no tienen conversión a término DeCS).
    </p>
    <p>
      Esta herramienta web facilita el proceso de adjudicar códigos (que actúan como etiquetas) a diferentes documentos,
      de los cuales se muestra su título y su <i>abstract</i> (resumen).
    </p>
  </div>
</section>
