<section fxLayout="column" fxLayoutAlign="center">
  <div class="bg-blue">
    <h1 style="line-height: 1em;">Indizador DeCS del PlanTL</h1>
    <p style="font-size: larger; font-weight: lighter;">
      Indizador web para Descriptores en Ciencias de la Salud
    </p>
    <div *ngIf="!auth.isLoggedIn()" class="buttons">
      <button mat-raised-button (click)=auth.openLoginDialog()>
        Iniciar sesión
      </button>
    </div>
    <div *ngIf="auth.isLoggedIn()" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="1em" class="buttons">
      <button *ngIf="['admin', 'tester', 'annotator'].includes(auth.getCurrentUser().role)" mat-raised-button
        routerLink="/docs">
        Ver mis documentos asignados
      </button>
      <button *ngIf="['admin'].includes(auth.getCurrentUser().role)" mat-raised-button color="warn" routerLink="/admin">
        Ir al panel de administración
      </button>
    </div>
  </div>
  <div style="padding-top: 5em; padding-bottom: 2em; text-align: center;">
    <p>
      Los <a href="http://decses.bvsalud.org/E/homepagee.htm">Descriptores en Ciencias de la Salud (DeCS)</a>
      son términos que tienen asociados códigos y sinónimos para categorizar documentos científicos.
    </p>
    <p>
      Esta herramienta web facilita el proceso de adjudicar códigos (que actúan como etiquetas) a diferentes documentos,
      de los cuales se muestra su título y su <i>abstract</i> (resumen).
    </p>
  </div>
</section>
