<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap.gt-sm="2em" class="p-3 p-md-5 text-center">
  <h1>Indizador de Descriptores de Ciencias de la Salud</h1>
  <p>
    Esta es una herramienta web para indizar documentos por los Descriptores de Ciencias de la Salud (DeCS).
    Los documentos son artículos científicos redactados originalmente en inglés y posteriormente traducidos
    al español por nuestro traductor automático. En esta ocasión, para la indización solamente nos vamos a
    basar en el título y <i>abstract</i> (resumen) de cada articulo.
  </p>
  <div *ngIf="!auth.isLoggedIn()">
    <button mat-raised-button color="accent" (click)=auth.openLoginDialog()>
      Iniciar sesión
    </button>
  </div>
  <div *ngIf="auth.isLoggedIn()" fxLayout="column" fxLayoutGap="2em">
    <button *ngIf="['tester', 'annotator', 'superannotator'].includes(auth.getCurrentUser().role)" mat-raised-button color="primary" routerLink="/docs">
      Ver mis documentos asignados
    </button>
    <button *ngIf="['tester', 'admin'].includes(auth.getCurrentUser().role)" mat-raised-button color="warn" routerLink="/admin">
      Ir al panel de administración
    </button>
  </div>
</div>