<form [formGroup]="form">
   <input type="checkbox" formControlName="published"> Published
   <div *ngIf="published">

      <h2>Credentials</h2>
      <button (click)="addCreds()">Add</button>

      <div formArrayName="credentials" *ngFor="let creds of credentials; let i = index">
         <ng-container [formGroupName]="i">
            <input placeholder="Username" formControlName="username">
            <input placeholder="Password" formControlName="password">
         </ng-container>
      </div>

   </div>
</form>