<mat-form-field appearance="outline" class="w-100">
  <mat-label>{{ label }}</mat-label>
  <mat-chip-list #chipList multiple selectable>
    <mat-chip *ngFor="let chip of chips" #matChip="matChip" [removable]="removable" (removed)="openConfirmDialog(chip)">
      <mat-icon matChipAvatar [color]="chip.iconColor"
        [innerHTML]="chip.fromOtherAnnotator ? 'supervised_user_circle' : 'person'">
      </mat-icon>
      {{ chip.termSpanish }} ({{ chip.decsCode }})
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
    <input matInput placeholder="Escribe el término o el código DeCS..." #chipInput [formControl]="autocompleteChipList"
      [matAutocomplete]="auto" matAutocompletePosition="below" [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur">
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="addChip($event)" autoActiveFirstOption>
    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
      <span [innerHTML]="option.termSpanish | highlight: autocompleteChipList.value"></span>
      (<span [innerHTML]="option.decsCode | highlight: autocompleteChipList.value"></span>)
      <span [innerHTML]="option.definitionSpanish" class="text-muted"></span>
    </mat-option>
  </mat-autocomplete>
  <mat-hint></mat-hint>
</mat-form-field>