@import "src/app/_variables.scss";

// https://stackoverflow.com/a/50938818
.success-dialog {
  color: white !important;
  background-color: blue !important;

  .mat-simple-snackbar-action {
    color: white !important;
  }
}
