<mat-form-field *ngIf="doc.completed" appearance="fill" class="w-100">
  <mat-label>Descriptores añadidos por otros</mat-label>
  <mat-icon matChipAvatar>supervised_user_circle</mat-icon>
  <mat-chip-list #chipList>
    <mat-chip *ngFor="let chip of chips" #matChip="matChip" [removable]="!doc.validated" (removed)="openConfirmDialog(chip)"
      [color]="doc.validated ? 'accent' : 'primary'" selected>
      {{ chip.termSpanish }} ({{ chip.decsCode }})
      <mat-icon matChipRemove *ngIf="!doc.validated">cancel</mat-icon>
    </mat-chip>
  </mat-chip-list>
  <mat-hint>Te mostramos como sugerencias el resto de descriptores añadidos por otros indizadores para este mismo documento. Puedes borrar aquellos que consideres que no deberían estar, dejando aquellos que sí te parezcan adecuados.</mat-hint>
</mat-form-field>
