/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.my-flat-green-button {
    color: white;
    background-color: #669966;
}

.my-stroked-green-button {
    color: #669966;
    background-color: white;
}

/* Usage:
 * <button mat-raised-button color="success">Custom success</button>
 */
.mat-success {
    color: #fff !important;
    background-color: #28a745 !important; /* DeCS green: #669966 */
}

.mat-success[disabled] {
    background-color: rgba(0, 0, 0, 0.12) !important;
}
