mat-card {
  padding: 0;
}

mat-card-header {
  background-color: #f2f2f2;
  padding: 1em;
}

mat-card-title {
  line-height: 1.5em;
}

mat-card-content {
  padding: 2em;
}

.text-muted {
  color: #6c757d !important;
}
